AppProyectoKPI/AppProyectoKPI/obj/Debug/AppProyectoKPI.ElegirRangoKPI.resources
AppProyectoKPI/AppProyectoKPI/bin/Debug/PracticaExamen.dll
AppProyectoKPI/AppProyectoKPI/bin/Debug/PrimerControlWindows.dll
