AppProyectoKPI/AppProyectoKPI/obj/Debug/AppProyectoKPI.ElegirRangoKPI.resources
AppProyectoKPI/AppProyectoKPI/bin/Debug/PracticaExamen.dll
AppProyectoKPI/AppProyectoKPI/bin/Debug/PrimerControlWindows.dll
AppProyectoKPI/packages/Excel-DNA.Interop.14.0.1/Excel-DNA.Interop.14.0.1.nupkg
AppProyectoKPI/packages/Excel-DNA.Interop.14.0.1/lib/Microsoft.Office.Interop.Excel.xml
AppProyectoKPI/packages/Excel-DNA.Interop.14.0.1/lib/office.xml
AppProyectoKPI/packages/ExcelDna.Interop.14.0.1/ExcelDna.Interop.14.0.1.nupkg
